<% if @flat.flat_type == "Studio" %>
	<% image = "studio.jpg"%>
<% elsif @flat.flat_type == "2-Bedroom"%>
	<% image = "2bedroom.jpg"%>
<% elsif @flat.flat_type == "3-Bedroom"%>
	<% image = "bed_room.jpg"%>
<% else %>
	<% image = "kitchen.jpg" %>
<% end %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path image %>);">
  <div class="banner-content">
    <h1><%= @flat.flat_type %></h1>
    <p><%= @flat.location.name %> - <%= @flat.location.city %></p>
		<%= button_to	"Edit Flat", edit_location_flat_path(@flat), method: :get, class: "mdl-button mdl-js-button mdl-button--raised", id: "md-second" %>	  	
  </div>
</div>

<div class="container flat-s-wrapper">
	<div class="row">
		<div class="col-md-4">
			<div class="flat-s-column f-s-c-l">
			</div>
		</div>
		<div class="col-md-4">
			<div class="flat-s-column f-s-c-r"></div>
				<div class="row">
					<div class="col-md-12">
						<div class="flat-s-tenants">Tenants</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="flat-s-events">Events</div>
					</div>
				</div>
		</div>
		<div class="col-md-4">
			<div class="flat-s-column f-s-c-m">Messages</div>	
		</div>
	</div>
</div>


<div class="flat-s-name"></div>
<div class="flat-s-avail"></div>
<div class="flat-s-bed"></div>
<div class="flat-s-bath"></div>
<div class="flat-s-add"></div>


<style>
	.flat-s-column{
		width: 100%;
	}
</style>