<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "paris.jpg" %>);">
  <div class="banner-content">
    <h1><%= @location.name %></h1>
    <h4><%= @location.city %></h4>
		<%= button_to	"New Flat", new_location_flat_path(@location), method: :get, class: "mdl-button mdl-js-button mdl-button--raised", id: "md-second" %>	  	
  </div>
</div>



<div class="loc-s-wrapper container">
	<div class="row">
		<div class="col-md-6 loc-inside-wrapper">
			<div class="row">
				<% @location.flats.each do |flat| %>
					<div class="col-sm-12" id="text-decoration">
						<%= link_to location_flat_path(@location, flat) do %>
							<div class="loc-s-item">
								<div class="flat-tenant-s">
									<% flat.tenants.each do |tenant| %>
										<img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
									<% end %>
						
								</div>
								<span class="border"></span>
								<div class="flat-info-s">
									<div class="flat-type-s">
										<div><span class='label label-warning'><%= flat.flat_type %></span></div>
										<div>Floor: <strong><%= flat.floor_number %></strong></div>
									</div>
									<div class="flat-add-s"><%= flat.address %></div>
								</div>
								<span class="border"></span>
								<div class="flat-avail-s">
									<div class="flat-room-s">
										<div>Bed: <strong><%= flat.bedrooms %></strong></div>
										<div>Bath: <strong><%= flat.bathrooms %></strong></div>
									</div>
									<div class="flat-avail-cell-s">Avail: 
										<% if flat.available?  %>
											<span class="label label-warning">Yes</span>
										<% else %>
											<span class="label label-danger">no</span>
										<% end %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-md-6 loc-inside-wrapper">
			<div class="row">
				<div class="col-md-12">
				<%= button_to	"New Event", new_location_event_path(@location), method: :get, class: "mdl-button mdl-js-button mdl-button--raised", id: "md-second" %>

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="row events-wrapper">
						<% @location.events.each do |event| %>
						<div class="col-sm-6">
							<div class="card-loc-s">
								<div class="row">
									<div class="col-xs-6">
										<span><i class="fas fa-calendar-alt"></i></span><div class="event-day"><%= event.date.day %></div>
									</div>
									<div class="col-xs-6">
										<div class="row">
											<div class="col-xs-12 event-month">
												<%= event.date.strftime('%b') %>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 event-hour">
												<%= event.date.strftime('%H:%M') %>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 event-name">
												<%= event.name %>
											</div>
											<div class="col-xs-12 event-des">
												<%= event.description %>
											</div>
										</div>
									</div>
								</div>
								<div class="row attendees-wrap">
										<%event.event_bookings.each do |eb| %>
									<div class="col-xs-3 ">
										<img  class="avatar-bordered" src="https://randomuser.me/api/portraits/women/16.jpg" alt="Guests" />
									</div>
									<% end %>
								</div>
							</div>

							
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		
